body {
  margin: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.score-board {
  display: flex;
  justify-content: space-around;
  min-height: 50px;
  min-width: 300px;
  max-height: 50px;
  max-width: 300px;

}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.rack {
  min-height: 40px;
  min-width: 40px;
  max-height: 600px;
  max-width: 600px;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center;
  padding-bottom: 10px
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 540px;
  min-width: 540px;
  max-height: 540px;
  max-width: 540px;

}

.row {
  display: flex;
  justify-content: space-between;
}

.board-square {
  min-height: 31px;
  min-width: 31px;
  max-height: 31px;
  max-width: 31px;
  border: solid 1px black;
  text-align: center
}

.tile {
  border: solid 1px black;
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}


